# Study on The Insights Data Set

`Imports`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

In [2]:
df = pd.read_csv("Insights.csv")

In [3]:
print(df.head())
quantity = df['Qty']
unit_rate_in_fc = df['Unit Rate In FC']

        Date   HS Code                                            Product  \
0  31-Jan-20  42022110  LADIES LEATHER HAND BAG 100% COW LEATHER SAC C...
1  31-Jan-20  42022110                                                BAG
2  28-Jan-20  42022110           COW NAPPA LEATHER HAND BAG ORDER NO.2167
3  28-Jan-20  42022110           COW NAPPA LEATHER HAND BAG ORDER NO.2213
4  28-Jan-20  42022110           COW NAPPA LEATHER HAND BAG ORDER NO.1132

  Specific Product Port of Origin Country of Destination Port of Destination  \
0          Leather           JNPT                 France            Le Havre
1          Leather           JNPT                  Japan                Kobe
2          Leather           JNPT                  Spain           Algeciras
3          Leather           JNPT                  Spain           Algeciras
4          Leather           JNPT                  Spain           Algeciras

   Value(USD)  Std Qty Std Unit  Std Unit Price(USD)    Qty Unit  Value In FC  \
0     1543.70     86.0      NOS                17.95   86.0  PCS       1543.7
1     3074.75    710.0      NOS                 4.33  710.0  PCS       3074.3
2     2487.49    100.0      NOS                24.87  100.0  PCS       2365.0
3     1529.66    100.0      NOS                15.30  100.0  PCS       1450.0
4     2558.97     70.0      NOS                36.56   70.0  PCS       2436.0

   Unit Rate In FC Unit Rate Currency  Value(INR) Shipment Mode  \
0            17.95                USD   107981.82           Sea
1             4.33                USD   215078.96           Sea
2            23.65                EUR   174000.00           Sea
3            14.50                EUR   107000.00           Sea
4            34.80                EUR   179000.00           Sea

   Invoice Value INR
0                0.0
1                0.0
2                0.0
3                0.0
4                0.0