# Study on The Insights Data Set

`Imports`

In [2]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("Insights.csv")
df=df.drop(["Date","HS Code","Specific Product","Port of Origin","Country of Destination","Port of Destination","Shipment Mode","Invoice Value INR"],axis=1)
list_of_profit=[]
for i in range(len(df)):
    try:
        list_of_profit.append(((float(df['Std Unit Price(USD)'][i])-float(df['Unit Rate In FC'][i]))*(float(df['Value(INR)'][i])/float(df['Value In FC'][i])))*float(df['Qty'][i]))
    except ZeroDivisionError:
        list_of_profit.append(0)
df = df.assign(Profit = list_of_profit)

profit_percentage=[]
for i in range(len(df)):
    try:
        profit_percentage.append((float(df['Profit'][i])/float(df['Value(INR)'][i]))*100)
    except ZeroDivisionError:
        profit_percentage.append(0) 
df = df.assign(Profit_Percent = profit_percentage)
df.head()

,Product,Value(USD),Std Qty,Std Unit,Std Unit Price(USD),Qty,Unit,Value In FC,Unit Rate In FC,Unit Rate Currency,Value(INR),Profit,Profit_Percent
0,LADIES LEATHER HAND BAG 100% COW LEATHER SAC C...,1543.70,86.0,NOS,17.95,86.0,PCS,1543.7,17.95,USD,107981.82,0.000000,0.000000
1,BAG,3074.75,710.0,NOS,4.33,710.0,PCS,3074.3,4.33,USD,215078.96,0.000000,0.000000
2,COW NAPPA LEATHER HAND BAG ORDER NO.2167,2487.49,100.0,NOS,24.87,100.0,PCS,2365.0,23.65,EUR,174000.00,8975.898520,5.158562
3,COW NAPPA LEATHER HAND BAG ORDER NO.2213,1529.66,100.0,NOS,15.30,100.0,PCS,1450.0,14.50,EUR,107000.00,5903.448276,5.517241
4,COW NAPPA LEATHER HAND BAG ORDER NO.1132,2558.97,70.0,NOS,36.56,70.0,PCS,2436.0,34.80,EUR,179000.00,9052.873563,5.057471

{'Product': 'COTTON SHOPPING BAGS(80% COTTON 10% GLA SS BEAD 10% PLASTIC BEAD) :ASSORTED BAG S(MADE OF COTTON JUTE LUREX.STRAW GLASS', 'Profit %': 0.0}