# Study on The Insights Data Set

`Imports`

In [2]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("Insights.csv")
df=df.drop(["Date","HS Code","Specific Product","Port of Origin","Country of Destination","Port of Destination","Shipment Mode","Invoice Value INR"],axis=1)
list_of_profit=[]
for i in range(len(df)):
    try:
        list_of_profit.append(((float(df['Std Unit Price(USD)'][i])-float(df['Unit Rate In FC'][i]))*(float(df['Value(INR)'][i])/float(df['Value In FC'][i])))*float(df['Qty'][i]))
    except ZeroDivisionError:
        list_of_profit.append(0)
df = df.assign(Profit = list_of_profit)

profit_percentage=[]
for i in range(len(df)):
    try:
        profit_percentage.append((float(df['Profit'][i])/float(df['Value(INR)'][i]))*100)
    except ZeroDivisionError:
        profit_percentage.append(0) 
df = df.assign(Profit_Percent = profit_percentage)
df.head()

,Product,Value(USD),Std Qty,Std Unit,Std Unit Price(USD),Qty,Unit,Value In FC,Unit Rate In FC,Unit Rate Currency,Value(INR),Profit,Profit_Percent
0,LADIES LEATHER HAND BAG 100% COW LEATHER SAC C...,1543.70,86.0,NOS,17.95,86.0,PCS,1543.7,17.95,USD,107981.82,0.000000,0.000000
1,BAG,3074.75,710.0,NOS,4.33,710.0,PCS,3074.3,4.33,USD,215078.96,0.000000,0.000000
2,COW NAPPA LEATHER HAND BAG ORDER NO.2167,2487.49,100.0,NOS,24.87,100.0,PCS,2365.0,23.65,EUR,174000.00,8975.898520,5.158562
3,COW NAPPA LEATHER HAND BAG ORDER NO.2213,1529.66,100.0,NOS,15.30,100.0,PCS,1450.0,14.50,EUR,107000.00,5903.448276,5.517241
4,COW NAPPA LEATHER HAND BAG ORDER NO.1132,2558.97,70.0,NOS,36.56,70.0,PCS,2436.0,34.80,EUR,179000.00,9052.873563,5.057471

In [32]:
column = df["Profit_Percent"]
max_value = column. max() 
print(max_value)
for i in range(len(df)):
    if df['Profit_Percent'][i]==max_value:
        print(i)
# row=1355

#To display in a table format
# display(df.loc[row:row])
df.sort_values(by ='Profit_Percent', ascending = 0)

16100.0
1355

,Product,Value(USD),Std Qty,Std Unit,Std Unit Price(USD),Qty,Unit,Value In FC,Unit Rate In FC,Unit Rate Currency,Value(INR),Profit,Profit_Percent
1355,114277-EYELASH MAKE UP BAG/WOMEN MISC-NA -100%PU,1.62,1.0,NOS,1.62,1.0,PCS,0.01,0.01,USD,114.15,18378.150000,16100.000000
3709,100% COTTON MADE UPS - OPENLIBBAG - FLOW ER LI...,59.80,6.0,NOS,9.97,6.0,PCS,9.00,1.50,EUR,4212.76,23788.051467,564.666667
2651,CARRY COLLECTION-EMBROIDERED NOW I CAN B LACK ...,549.96,20.0,NOS,27.50,20.0,PCS,100.00,5.00,EUR,39075.00,175837.500000,450.000000
929,TR 0866 - TRAVELLING BAGS AND SIMILAR CO NTAIN...,582.04,200.0,NOS,2.91,200.0,PCS,140.00,0.70,EUR,40713.89,128539.567000,315.714286
1342,HAND MADE COW LEATHER HAND BAG 5% METAL FITTIN...,644.22,25.0,NOS,25.77,25.0,PCS,158.00,6.32,EUR,45385.19,139674.358465,307.753165
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2973,GIFTING CLOTH BAGS LUT ARN NO AD27041900,14.16,89.0,NOS,0.16,89.0,PCS,1335.00,15.00,INR,1000.00,-989.333333,-98.933333
2417,LEATHERETTE MESSENGER BAG SKU NO : 1104 #NAME?,72.34,10.0,NOS,7.23,10.0,PCS,7800.00,780.00,INR,5140.00,-5092.356154,-99.073077
2757,EXHIBITION GOODS - BAGS ASSORTED,15.23,22.0,NOS,0.69,22.0,PCS,2200.00,100.00,INR,1070.46,-1063.073826,-99.310000
540,BAGS (CANVAS FABRIC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,RAFFIA HANDMADE BAGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN