In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Insights.csv')
df.columns

Index(['Date', 'HS Code', 'Product', 'Specific Product', 'Port of Origin',
       'Country of Destination', 'Port of Destination', 'Value(USD)',
       'Std Qty', 'Std Unit', 'Std Unit Price(USD)', 'Qty', 'Unit',
       'Value In FC', 'Unit Rate In FC', 'Unit Rate Currency', 'Value(INR)',
       'Shipment Mode', 'Invoice Value INR'],
      dtype='object')

In [3]:
df.dropna(inplace = True)

In [4]:
df.isna().sum()

Date                      0
HS Code                   0
Product                   0
Specific Product          0
Port of Origin            0
Country of Destination    0
Port of Destination       0
Value(USD)                0
Std Qty                   0
Std Unit                  0
Std Unit Price(USD)       0
Qty                       0
Unit                      0
Value In FC               0
Unit Rate In FC           0
Unit Rate Currency        0
Value(INR)                0
Shipment Mode             0
Invoice Value INR         0
dtype: int64

In [7]:
len(df)

4971

In [5]:
from geopy.geocoders import ArcGIS

In [6]:
gc=ArcGIS(scheme='https')

In [19]:
df.head(100)

,Date,HS Code,Product,Specific Product,Port of Origin,Country of Destination,Port of Destination,Value(USD),Std Qty,Std Unit,Std Unit Price(USD),Qty,Unit,Value In FC,Unit Rate In FC,Unit Rate Currency,Value(INR),Shipment Mode,Invoice Value INR
0,31-Jan-20,42022110,LADIES LEATHER HAND BAG 100% COW LEATHER SAC C...,Leather,JNPT,France,Le Havre,1543.70,86.0,NOS,17.95,86.0,PCS,1543.7,17.95,USD,107981.82,Sea,0.0
1,31-Jan-20,42022110,BAG,Leather,JNPT,Japan,Kobe,3074.75,710.0,NOS,4.33,710.0,PCS,3074.3,4.33,USD,215078.96,Sea,0.0
2,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2167,Leather,JNPT,Spain,Algeciras,2487.49,100.0,NOS,24.87,100.0,PCS,2365.0,23.65,EUR,174000.00,Sea,0.0
3,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2213,Leather,JNPT,Spain,Algeciras,1529.66,100.0,NOS,15.30,100.0,PCS,1450.0,14.50,EUR,107000.00,Sea,0.0
4,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.1132,Leather,JNPT,Spain,Algeciras,2558.97,70.0,NOS,36.56,70.0,PCS,2436.0,34.80,EUR,179000.00,Sea,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,09-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2158,Leather,JNPT,Spain,Algeciras,2469.84,100.0,NOS,24.70,100.0,PCS,2340.0,23.40,EUR,174000.00,Sea,0.0
96,09-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2161,Leather,JNPT,Spain,Algeciras,2767.92,100.0,NOS,27.68,100.0,PCS,2610.0,26.10,EUR,195000.00,Sea,0.0
97,09-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2161,Leather,JNPT,Spain,Algeciras,2767.92,100.0,NOS,27.68,100.0,PCS,2610.0,26.10,EUR,195000.00,Sea,0.0
98,09-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2158,Leather,JNPT,Spain,Algeciras,2469.84,100.0,NOS,24.70,100.0,PCS,2340.0,23.40,EUR,174000.00,Sea,0.0
99,09-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2158,Leather,JNPT,Spain,Algeciras,794.89,50.0,NOS,15.90,50.0,PCS,752.5,15.05,EUR,56000.00,Sea,0.0

In [35]:
df_small = pd.DataFrame()

In [36]:
df_small

Empty DataFrame
Columns: []
Index: []

In [37]:
for i in range(0,4800,100):
    df_temp = df[i:i+100].copy()
    df_temp["coordinates"]=df_temp["Port of Destination"].apply(gc.geocode)
    df_small = df_small.append(df_temp)
    print(i)
df_temp = df[4800:4971].copy()
df_temp["coordinates"]=df_temp["Port of Destination"].apply(gc.geocode)
df_small = df_small.append(df_temp)
df_small

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700

,Date,HS Code,Product,Specific Product,Port of Origin,Country of Destination,Port of Destination,Value(USD),Std Qty,Std Unit,Std Unit Price(USD),Qty,Unit,Value In FC,Unit Rate In FC,Unit Rate Currency,Value(INR),Shipment Mode,Invoice Value INR,coordinates
0,31-Jan-20,42022110,LADIES LEATHER HAND BAG 100% COW LEATHER SAC C...,Leather,JNPT,France,Le Havre,1543.70,86.0,NOS,17.95,86.0,PCS,1543.7,17.95,USD,107981.82,Sea,0.0,"(Le Havre, Seine-Maritime, Normandie, (49.4935..."
1,31-Jan-20,42022110,BAG,Leather,JNPT,Japan,Kobe,3074.75,710.0,NOS,4.33,710.0,PCS,3074.3,4.33,USD,215078.96,Sea,0.0,"(Kobe, Hyogo, (34.689415680000025, 135.1957439..."
2,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2167,Leather,JNPT,Spain,Algeciras,2487.49,100.0,NOS,24.87,100.0,PCS,2365.0,23.65,EUR,174000.00,Sea,0.0,"(Algeciras, Cádiz, Andalucía, (36.127570000000..."
3,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2213,Leather,JNPT,Spain,Algeciras,1529.66,100.0,NOS,15.30,100.0,PCS,1450.0,14.50,EUR,107000.00,Sea,0.0,"(Algeciras, Cádiz, Andalucía, (36.127570000000..."
4,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.1132,Leather,JNPT,Spain,Algeciras,2558.97,70.0,NOS,36.56,70.0,PCS,2436.0,34.80,EUR,179000.00,Sea,0.0,"(Algeciras, Cádiz, Andalucía, (36.127570000000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,24-Oct-19,42022220,COTTON CLUTCH BAGS(80% COTTON 10% GLASS BEAD 1...,Cotton,JNPT,Mauritius,Louis,117.00,18.0,NOS,6.50,18.0,PCS,117.0,6.50,USD,8260.21,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333..."
4969,24-Oct-19,42022220,COTTON CLUTCH BAGS(80% COTTON 10% GLASS BEAD 1...,Cotton,JNPT,Mauritius,Louis,78.00,12.0,NOS,6.50,12.0,PCS,114.0,9.50,USD,5506.82,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333..."
4970,24-Oct-19,42022220,COTTON TABLET BAGS(80%COTTON 10%ACCORD 1 0%GLA...,Cotton,JNPT,Mauritius,Louis,90.00,12.0,NOS,7.50,12.0,PCS,114.0,9.50,USD,6354.00,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333..."
4971,24-Oct-19,42022220,100% COTTON P/L BLOCK PRINTED BAG,Cotton,JNPT,Denmark,Aarhus,8792.80,3032.0,NOS,2.90,3032.0,PCS,8792.8,2.90,USD,620771.84,Sea,0.0,"(Aarhus, Midtjylland, (56.153020000000026, 10...."
4972,24-Oct-19,42022220,COTTON SHOPPING BAGS(80% COTTON 10% GLA SS BEA...,Cotton,JNPT,Mauritius,Louis,114.00,12.0,NOS,9.50,12.0,PCS,114.0,9.50,USD,8048.41,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333..."

In [38]:
df_small['Latitude'] = df_small['coordinates'].apply(lambda x: x.latitude if x != None else None)
df_small['Longitude'] = df_small['coordinates'].apply(lambda x: x.longitude if x != None else None)

In [39]:
df_small

,Date,HS Code,Product,Specific Product,Port of Origin,Country of Destination,Port of Destination,Value(USD),Std Qty,Std Unit,...,Unit,Value In FC,Unit Rate In FC,Unit Rate Currency,Value(INR),Shipment Mode,Invoice Value INR,coordinates,Latitude,Longitude
0,31-Jan-20,42022110,LADIES LEATHER HAND BAG 100% COW LEATHER SAC C...,Leather,JNPT,France,Le Havre,1543.70,86.0,NOS,...,PCS,1543.7,17.95,USD,107981.82,Sea,0.0,"(Le Havre, Seine-Maritime, Normandie, (49.4935...",49.493590,0.100970
1,31-Jan-20,42022110,BAG,Leather,JNPT,Japan,Kobe,3074.75,710.0,NOS,...,PCS,3074.3,4.33,USD,215078.96,Sea,0.0,"(Kobe, Hyogo, (34.689415680000025, 135.1957439...",34.689416,135.195744
2,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2167,Leather,JNPT,Spain,Algeciras,2487.49,100.0,NOS,...,PCS,2365.0,23.65,EUR,174000.00,Sea,0.0,"(Algeciras, Cádiz, Andalucía, (36.127570000000...",36.127570,-5.452860
3,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.2213,Leather,JNPT,Spain,Algeciras,1529.66,100.0,NOS,...,PCS,1450.0,14.50,EUR,107000.00,Sea,0.0,"(Algeciras, Cádiz, Andalucía, (36.127570000000...",36.127570,-5.452860
4,28-Jan-20,42022110,COW NAPPA LEATHER HAND BAG ORDER NO.1132,Leather,JNPT,Spain,Algeciras,2558.97,70.0,NOS,...,PCS,2436.0,34.80,EUR,179000.00,Sea,0.0,"(Algeciras, Cádiz, Andalucía, (36.127570000000...",36.127570,-5.452860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,24-Oct-19,42022220,COTTON CLUTCH BAGS(80% COTTON 10% GLASS BEAD 1...,Cotton,JNPT,Mauritius,Louis,117.00,18.0,NOS,...,PCS,117.0,6.50,USD,8260.21,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333...",0.416670,9.433330
4969,24-Oct-19,42022220,COTTON CLUTCH BAGS(80% COTTON 10% GLASS BEAD 1...,Cotton,JNPT,Mauritius,Louis,78.00,12.0,NOS,...,PCS,114.0,9.50,USD,5506.82,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333...",0.416670,9.433330
4970,24-Oct-19,42022220,COTTON TABLET BAGS(80%COTTON 10%ACCORD 1 0%GLA...,Cotton,JNPT,Mauritius,Louis,90.00,12.0,NOS,...,PCS,114.0,9.50,USD,6354.00,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333...",0.416670,9.433330
4971,24-Oct-19,42022220,100% COTTON P/L BLOCK PRINTED BAG,Cotton,JNPT,Denmark,Aarhus,8792.80,3032.0,NOS,...,PCS,8792.8,2.90,USD,620771.84,Sea,0.0,"(Aarhus, Midtjylland, (56.153020000000026, 10....",56.153020,10.204860
4972,24-Oct-19,42022220,COTTON SHOPPING BAGS(80% COTTON 10% GLA SS BEA...,Cotton,JNPT,Mauritius,Louis,114.00,12.0,NOS,...,PCS,114.0,9.50,USD,8048.41,Sea,0.0,"(Louis, Estuaire, (0.4166700000000674, 9.43333...",0.416670,9.433330

In [40]:
df_small.to_csv('location.csv')